.panel{
    width: 100%;
    height: 100vh;
  }
  
  .panel__header{
    height: 15%;
  }
  
  .panel__info{
    height: 85%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');