
<div class="modal fade" id="addClassmateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir un nuevo classmate</h1>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="name" class="col-form-label">Nombres y apellidos:</label>
              <input type="text" class="form-control" id="name" placeholder="Ingrese los nombres del psicológico">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="ciclo" class="col-form-label">Ciclo de estudios:</label>
                        <input type="number" class="form-control" id="ciclo" placeholder="Ingrese el ciclo">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="nro-whatsapp" class="col-form-label">Nro de Whatsapp:</label>
                        <input type="number" class="form-control" id="nro-whatsapp" placeholder="Ingrese el número de WhatsApp">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="cargo" class="col-form-label">Salón en el que brinda clases:</label>
                <input type="text" class="form-control" id="cargo" placeholder="Ingrese el salón en el que el classmate dictará las clases">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-registrar">Registrar</button>
        </div>
      </div>
    </div>
  </div>