<article class="panel__info">
    <div class="row mt-3">
        <div class="col-2">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active text-start" id="v-pills-activate-tab" data-bs-toggle="pill" data-bs-target="#v-pills-activate" type="button" role="tab" aria-controls="v-pills-activate" aria-selected="true"><i class="fa-solid fa-person-running" ></i> Activate</button>
                <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-solid fa-user" ></i> Tutoria Psicologica</button>
                <button class="nav-link text-start" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa-solid fa-person-praying" ></i> Tutoria Espiritual</button>
                <button class="nav-link text-start" id="v-pills-configs-tab" data-bs-toggle="pill" data-bs-target="#v-pills-configs" type="button" role="tab" aria-controls="v-pills-configs" aria-selected="false"><i class="fa-solid fa-user-group" ></i> Classmate</button>
                <button class="nav-link text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa-solid fa-user-tie" ></i> Lisa de Tutores</button>
              </div>

        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-activate" role="tabpanel" aria-labelledby="v-pills-activate-tab" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <h1>Asistencias</h1>
                            <button class="btn btn-float">
                    Añadr Evento
                            </button>
                        </div>
                        <div class="col-3">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                                    <p class="card-text">Evento</p>
                                    <h5 class="card-title">Activate Sistema</h5>
                                    <p class="card-text">E.P</p>
                                    <h5 class="card-title">Ing. de Sistemas</h5>
                                    <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                                    <p class="card-text">Evento</p>
                                    <h5 class="card-title">Activate Sistema</h5>
                                    <p class="card-text">E.P</p>
                                    <h5 class="card-title">Ing. de Sistemas</h5>

                                    <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                                    <p class="card-text">Evento</p>
                                    <h5 class="card-title">Activate Sistema</h5>
                                    <p class="card-text">E.P</p>
                                    <h5 class="card-title">Ing. de Sistemas</h5>

                                    <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                                    <p class="card-text">Evento</p>
                                    <h5 class="card-title">Activate Sistema</h5>
                                    <p class="card-text">E.P</p>
                                    <h5 class="card-title">Ing. de Sistemas</h5>

                                    <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                    <div class="d-flex flex-row-reverse">
                        <div class="btn btn-info btn-add-psicologo" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Añadir un nuevo psicólogo</div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center pt-5" >
                        <div *ngFor="let p of psicologos" class="col-lg-4 col-md-6 pe-5 ps-4 mt-2" style="position: relative;">
                            <div class="title-card d-flex justify-content-center align-items-center">Psicólogo Disponible</div>
                            <div class="panel-light p-4 pt-5">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/perfil.png" alt="" width="100%">
                                    </div>
                                    <div class="col-9 pt-2">
                                        <p style="font-weight: bold; color: black; margin-bottom: 5px;">{{p.name}}</p>
                                        <p style="font-weight: bold;padding: 0; color: darkseagreen;">Psicólogo E.P. Sistemas</p>
                                    </div>
                                </div>
                                <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> {{p.phone}}</p>
                                <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> {{p.email}}</p>
                                <div class="row justify-content-center mt-4">
                                    <button (click)="redirigirAWsp(p.phone!)" class="btn btn-wsp"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsapp</button>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div class="mt-4">
                                        <button class="btn btn-eliminar" (click)="eliminarPsicologo(p.id!)">Eliminar</button>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-editar" data-bs-toggle="modal" data-bs-target="#editPsicologoModal" (click)="editPsico(p.id!, p.name!, p.phone!, p.email!, p.type_person!)">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                    <div class="d-flex flex-row-reverse">
                        <div class="btn btn-info btn-add-psicologo" data-bs-toggle="modal" data-bs-target="#addAsesorModal">+ Añadir un nuevo asesor espiritual</div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center pt-5" >
                        <div *ngFor="let a of asesores" class="col-lg-4 col-md-6 pe-5 ps-4 mt-2" style="position: relative;">
                            <div class="title-card d-flex justify-content-center align-items-center">Asesor Disponible</div>
                            <div class="panel-light p-4 pt-5">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/perfil.png" alt="" width="100%">
                                    </div>
                                    <div class="col-9 pt-2">
                                        <p style="font-weight: bold; color: black; margin-bottom: 5px;">Pr. {{a.name}}</p>
                                        <p style="font-weight: bold;padding: 0; color: darkseagreen;">Capellán E.P. Sistemas</p>
                                    </div>
                                </div>
                                <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> {{a.phone}}</p>
                                <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> {{a.email}}</p>
                                <div class="row justify-content-center mt-4">
                                    <button (click)="redirigirAWsp(a.phone!)" class="btn btn-wsp"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div class="mt-4">
                                        <button class="btn btn-eliminar" (click)="eliminarAsesor(a.id!)">Eliminar</button>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-editar" data-bs-toggle="modal" data-bs-target="#editAsesorModal" (click)="editAsesor(a.id!, a.name!, a.phone!, a.email!, a.type_person!)">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-configs" role="tabpanel" aria-labelledby="v-pills-configs-tab" tabindex="0">
                    <div class="d-flex flex-row-reverse">
                        <div class="btn btn-info btn-add-psicologo" data-bs-toggle="modal" data-bs-target="#addClassmateModal">+ Añadir un nuevo Classmate</div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center pt-5" >
                        <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-2" style="position: relative;">
                            <div class="title-card d-flex justify-content-center align-items-center">Classmate Disponible</div>
                            <div class="panel-light p-4 pt-5">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/perfil.png" alt="" width="100%">
                                    </div>
                                    <div class="col-9 pt-2">
                                        <p style="font-weight: bold; color: black; margin-bottom: 5px;">Josue Dominguez Huamani</p>
                                        <p style="font-weight: bold;padding: 0; color: darkseagreen;">VII Ciclo Sistemas</p>
                                    </div>
                                </div>
                                <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Salón:</strong> Laboratorio Cisco</p>
                                <div class="row justify-content-center mt-4">
                                    <button class="btn btn-wsp"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div class="mt-4">
                                        <button class="btn btn-eliminar">Eliminar</button>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-editar">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-8 pe-5 ps-4 mt-2" style="position: relative;">
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Dom</th>
                                    <th scope="col">Lun</th>
                                    <th scope="col">Mar</th>
                                    <th scope="col">Mie</th>
                                    <th scope="col">Jue</th>
                                    <th scope="col">Vie</th>
                                    <th scope="col">Sab</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>8 - 9 am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th>9 - 10 am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th>10 - 11 am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th>11 - 12 am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th>12 - 1 pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                    <div class="d-flex flex-row-reverse">
                        <div class="btn btn-info btn-add-psicologo" data-bs-toggle="modal" data-bs-target="#addTutorModal">+ Añadir un nuevo tutor</div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center pt-5" >
                        <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-2" style="position: relative;">
                            <div class="title-card d-flex justify-content-center align-items-center">II Ciclo - Ing. de Sistemas</div>
                            <div class="panel-light p-4 pt-5">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/perfil.png" alt="" width="100%">
                                    </div>
                                    <div class="col-9 pt-2">
                                        <p style="font-weight: bold; color: black; margin-bottom: 5px;">Mag. Alvaro Alva</p>
                                        <p style="font-weight: bold;padding: 0; color: darkseagreen;">Aula de tutoría: E-102</p>
                                    </div>
                                </div>
                                <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo upeu.edu.pe</p>
                                <div class="row justify-content-center mt-4">
                                    <button class="btn btn-wsp"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div class="mt-4">
                                        <button class="btn btn-eliminar">Eliminar</button>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-editar">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-2" style="position: relative;">
                            <div class="title-card d-flex justify-content-center align-items-center">IV Ciclo - Ing. de Sistemas</div>
                            <div class="panel-light p-4 pt-5">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/perfil.png" alt="" width="100%">
                                    </div>
                                    <div class="col-9 pt-2">
                                        <p style="font-weight: bold; color: black; margin-bottom: 5px;">Ing. Diana Sanchez</p>
                                        <p style="font-weight: bold;padding: 0; color: darkseagreen;">Aula de tutoría: E-202</p>
                                    </div>
                                </div>
                                <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo upeu.edu.pe</p>
                                <div class="row justify-content-center mt-4">
                                    <button class="btn btn-wsp"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div class="mt-4">
                                        <button class="btn btn-eliminar">Eliminar</button>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-editar">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
              </div>
        </div>
    </div>

</article>


<app-add-psicologo
(volveraListarPsicologos)="getPsicologos2daVez($event)">
</app-add-psicologo>

<app-edit-psicologo
[id_psicologo]="idPsico"
[name_edit2]="namePsico"
[apepat_edit2]="apepatPsico"
[apemat_edit2]="apematPsico"
[email_edit2]="emailPsico"
[phone_edit2]="phonePsico"
[type_person_edit2]="type_personPsico"
(volveraListarPsicologos)="getPsicologos2daVez($event)">
</app-edit-psicologo>

<app-add-asesor-espiritual
(volveraListarAsesores)="getAsesores2daVez($event)">
</app-add-asesor-espiritual>

<app-edit-asesor-espiritual
[id_asesor]="idAsesor"
[name_edit1]="nameAsesor"
[apepat_edit1]="apepatAsesor"
[apemat_edit1]="apematAsesor"
[email_edit1]="emailAsesor"
[phone_edit1]="phoneAsesor"
[type_person_edit1]="type_personAsesor"
(volveraListarAsesores)="getAsesores2daVez($event)">
</app-edit-asesor-espiritual>

<app-add-classmate
>
</app-add-classmate>

<app-add-tutor
>
</app-add-tutor>

