  <div class="student__ppp">
    <div class="practice">
      <div class="practice__despcription">
        <h3 class="practice__title">Participaciones</h3>
        <p class="practice__subtitle">En la última proyección social</p>
      </div>
    </div>
    <div class="chart">
      <app-chart-hours></app-chart-hours>
    </div>
    <div class="times">
      <div class="times__student">
        <span>Total Horas</span>
        <p>700 hrs</p>
      </div>
      <div class="times__student">
        <span>Horas Completadas</span>
        <p>175 hrs</p>
      </div>
    </div>
  </div>
