<div class="main">
   <div class="student__next">
   <!-- TITLE -->
   <div class="practice">
     <div class="practice__despcription">
       <h3 class="practice__title">Proxima Proyección</h3>
     </div>
   </div>
   <!-- HOURS -->
  <div class="main-container">
     <div class="container-hours">
     <div class="description">
       <span>Quedan</span>
     </div>
     <div class="description-hour">
       <div class="hour">
         <div class="hour__time">
           <span>08</span>
           <p>Dias</p>
         </div>
         <div class="hour__time">
           <span>05</span>
           <p>Horas</p>
         </div>
         <div class="hour__time">
           <span>02</span>
           <p>Minutos</p>
         </div>
       </div>
     </div>
   </div>
   <div class="container-button">
     <button type="button" class="button">Inscribirme</button>
   </div>
  </div>
 </div>
 <section class="report">
  <header class="header-report">
    <span>Reporte de asistencia a los activates</span>
  </header>
  <main class="main-report">
    <div class="info-report">
      <div class="asistance">
        <p class="asistance__title">Asistencias</p>
        <p class="asistance__total">10</p>
      </div>
      <div class="asistance">
        <p class="asistance__title">Faltas</p>
        <p class="asistance__total">5</p>
      </div>
    </div>
  </main>
 </section>
</div>


