<div class="box_title_content">
    <div class="box_home">
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="rgba(11, 56, 101, 1)" fill-opacity="1" d="M0,192L60,208C120,224,240,256,360,272C480,288,600,288,720,245.3C840,203,960,117,1080,112C1200,107,1320,181,1380,218.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
      </svg>
        </div>
  <div class="logo">
  </div>
  <div class="row gx-2" style="margin-right: 0px;">
    <div class="col-xl-7 p-0">
      <div class="content">
        <div class="title">
          <h2>
            Activate Sistemas
          </h2>
        </div>
        <div class="description px-3 text-light">Registro de Asistencia a Activate</div>
  
        <div class="image mx-3 mb-4">
          <img src="assets/Activate.jpeg" alt="imagen_alt" class="max-image">
        </div>
      </div>
    </div>
    <div class="col-xl-5 padding">
      <div class="card" style="border-radius: 50px !important; background-color: rgba(255, 255, 255, 0.9);">
        <div class="card-header text-center m-0">
          <h3>Registrar Asistencia</h3>
        </div>
        <div class="card-body mt-0">
          <div class="searchbox-wrap d-flex justify-content-center">
            <input type="text"  placeholder="Ingresar celular"  style="border-top-right-radius: 25px; border-bottom-right-radius: 25px; width: 340px;">
          </div>
          <div class="searchbox-wrap d-flex justify-content-center">
            <input type="text"  placeholder="Ingresar DNI"  style="border-top-right-radius: 25px; border-bottom-right-radius: 25px; width: 340px;">
          </div>
          <div class="searchbox-wrap d-flex justify-content-center">
            <span class="btn" >Registrar</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  