<div class="container-fluid w-100 main">
    <div class="row content">
        <div class="d-flex justify-content-center align-items-center img" style="background-image: url('/assets/fondo-vinculacion.png');">
            <p class="title-image">Vinculación con el medio</p>
        </div>
        <div class="container-fluid principal w-100">
            <div class="row h-100 d-flex justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6 col-12 mb-2 target d-flex justify-content-center align-items-center header">
                    <div class="panel">
                        Próxima Proyección Social
                    </div>
                    <div class="target2">
                        <div class="img2 d-flex justify-content-center">
                            <img src="assets/campaña.jpg" alt="" width="55%" height="100%">
                        </div>
                        <div class="info">
                            <div class="row p-4">
                                <div class="col-lg-6 col-12 mt-2">
                                    <strong><i class="fa-solid fa-calendar-days me-1"></i>Fecha:</strong> 20/10/2021
                                </div>
                                <div class="col-lg-6 col-12 mt-2">
                                    <strong><i class="fa-regular fa-clock me-1"></i>Hora:</strong> 10:00 A.M
                                </div>
                                <div class="col-12 mt-2">
                                    <strong><i class="fa-solid fa-location-dot me-1"></i>Lugar:</strong> Mansión de la UpeU
                                </div>
                            </div>
                   
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-2 target d-flex justify-content-center align-items-center">
                    <div class="target3">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <p class="fw-bold" style="font-size: 30px; color: #EDA619;">Horas Completadas</p>
                            <p class="text-center" style="color:#063E59">Aqui se muestra el avance en el <br> cumplimiento de tus horas de <br> Proyección Social</p>
                            <circle-progress [percent]="50" [radius]="100" [space]="-16" [outerStrokeWidth]="17"
                            [outerStrokeColor]="'#EDA619'" [innerStrokeWidth]="17" [innerStrokeColor]="'#AFAFAF'"
                            [title]="50+'%'" [titleFontSize]="'35'" [titleFontWeight]="'700'"
                            [titleColor]="'#1B447D'" [showUnits]="false" [showSubtitle]="false" [showUnits]="false"
                            [clockwise]="true" [startFromZero]="false"></circle-progress>
                            <div class="row w-100" >
                                <div class="col-6" >
                                    <p style="text-align: center; font-weight: bold; color: rgba(0, 51, 102, 1); margin: 0;" class="text-3">Total Horas</p>
                                    <p style="text-align: center; color: #3E98B6; font-weight: bold;">50 Hrs.</p>
                                </div>
                                <div class="col-6">
                                    <p style="text-align: center; font-weight: bold; color: rgba(0, 51, 102, 1); margin: 0;" class="text-3">Horas Completadas</p>
                                    <p style="text-align: center; color: #3E98B6; font-weight: bold;">25 Hrs.</p>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-2 target  d-flex justify-content-center">
                    <div class="target4">
                        <div class="row pt-4">
                            <div class="col-3 d-flex justify-content-end">
                                <img src="assets/perfil.png" alt="" width="55%">
                            </div>
                            <div class="col-9 d-flex justify-content-center flex-column">
                                <p style="font-weight: bold; color: black;">Mg. Diana Lidia Sanchez Torpoco</p>
                                <p style="font-weight: bold; color: darkseagreen;">Responsable</p>
                            </div>
                        </div>                            
                        <div class="d-flex align-items-start flex-column pt-4 ps-5">
                            <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                            <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                        </div>
                            <div class="row d-flex align-items-center justify-content-center mt-4">
                             <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>