<main>
    <h3 class="main__title">Registrar Asistencia del Estudiante</h3>
    <div class="formulario__asistencia">
        <div class="row g-4">
            <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Semestre</option>
                    <option value="1">2023-1</option>
                    <option value="2">2023-2</option>
                </select>
            </div>
            <div class="col-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Ciclo</option>
                    <option value="1">VIII</option>
                    <option value="2">IX</option>
                    <option value="1">X</option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Código de estudiante</option>
                </select>
            </div>
            <div class="col-12">
                <input class="form-control" type="text" placeholder="Nombre del estudiante" aria-label="">
            </div>
        </div>
    </div>
    <h3 class="main__title">Asistencia</h3>
    <div class="formulario__fecha-participacion">
        <div class="row">
            <div class="col-6">
                <input class="form-control" type="date" name="" id="">
            </div>
            <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Participación</option>
                    <option value="1">Asistió</option>
                    <option value="2">Faltó</option>
                    <option value="3">Justificado</option>
                </select>
            </div>
        </div>
    </div>
    <div class="main__button">
        <button type="button" class="btn btn-success">Registrar asistencia</button>
    </div>
</main>