<main class="main">
  <section class="student student--sizeTitle">
    <h2 class="student__name">Hola Diana Sanchez!</h2>
  </section>
  <section class="student student--sizeInfo">
    <!-- Proxima proyeccion -->
    <div class="student__ppp">
      <app-next-proyection></app-next-proyection>
    </div>
    <!-- Horas de PPP -->
    <div class="student__ppp">
      <app-persons-proyeccion></app-persons-proyeccion>
    </div>
    <!-- Horas de Proyeccion -->
    <div class="student__proyection">
     <app-card-view-hours></app-card-view-hours>
    </div>
  </section>
  <button type="button" class="button button--float">Actualizar nueva proyección </button>
</main>
