.main{
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.student__name{
  font-size: 1.4rem;
  color: white;
}

.student{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.student.student--sizeTitle{
  padding: 30px 10px;
  height: 20%;
}

.student.student--sizeInfo{
  height: 80%;
}

.student__ppp, .student__proyection{
    padding: 20px;
}

.student > div{
  background-color: #003366B5;
  width: 23%;
  height: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container-button{
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.button{
  border: none;
  outline: none;
  font-weight: bolder;
  padding: 5px 0;
  background-color: #F8A900;
  border-radius: 10px;
  color: #ffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button--float{
  position: absolute;
  width: 350px;
  bottom: 3%;
  right: 5%;
}

.student__next{
  background-color: transparent !important;
}
