<main class="main">
  <section class="student student--sizeTitle">
    <h2 class="student__name">Hola Luis Elvis!</h2>
  </section>
  <section class="student student--sizeInfo">
    <!-- Proxima proyeccion -->
    <div class="student__next">
       <div class="practice">
        <div class="practice__despcription">
          <h3 class="practice__title">Proxima Proyección</h3>
        </div>
     </div>
    </div>

    <!-- Horas de PPP -->
    <div class="student__ppp">
     <div class="practice">
      <div class="practice__despcription">
        <h3 class="practice__title">Horas de PPP</h3>
        <p class="practice__subtitle">Prácticas Pre Profesionales</p>
      </div>
     </div>
      <div class="chart">
        <app-chart-circle></app-chart-circle>
      </div>
      <div class="times">
        <div class="times__student">
          <span>Total Horas</span>
          <p>700 hrs</p>
        </div>
        <div class="times__student">
          <span>Horas Completadas</span>
          <p>175 hrs</p>
        </div>
     </div>
    </div>
    <!-- Horas de Proyeccion -->
    <div class="student__proyection">
      <!-- HEADER -->
      <div class="practice">
        <div class="practice__despcription">
          <h3 class="practice__title">Horas de PS</h3>
          <p class="practice__subtitle">Proyección Social</p>
        </div>
     </div>
     <!-- CHART -->
     <div class="chart">
        <app-chart-circle></app-chart-circle>
     </div>
     <!-- FOOTER -->
     <div class="times">
        <div class="times__student">
          <span>Total Horas</span>
          <p>700 hrs</p>
        </div>
        <div class="times__student">
          <span>Horas Completadas</span>
          <p>175 hrs</p>
        </div>
     </div>
    </div>
  </section>
</main>
