<main class="main">
  <section class="student student--sizeTitle">
    <h2 class="student__name">Hola Luis Elvis!</h2>
  </section>
  <section class="student student--sizeInfo">
    <!-- Proxima proyeccion -->
    <div class="student__next">
      <app-next-projection></app-next-projection>
    </div>
    <!-- Horas de PPP -->
    <div class="student__ppp">
      <app-card-hours></app-card-hours>
    </div>
    <!-- Horas de Proyeccion -->
    <div class="student__proyection">
      <app-card-hours></app-card-hours>
    </div>
  </section>
  <button type="button" class="button button--float">Amo a Paula con todo mi corazon</button>
</main>
