.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .loader {
    width: 55%;
    height: 75%;
    border: solid 18px #838383;
    border-radius: 50%;
    border-top: 18px solid  #F8A900;
    position: relative;
}

// .container .loader::before{
//   content: '';
//   position: absolute;
//   width: 15px;
//   height: 100%;
//   background-color: #F8A900;
//   border-radius: 20px;
//   -webkit-border-radius: 20px;
//   -moz-border-radius: 20px;
//   -ms-border-radius: 20px;
//   -o-border-radius: 20px;
// }

.container .message {
    position: absolute;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

