  <table class="table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombres y Apellidos</th>
        <th class="center">10/11/2022</th>
        <th class="center">10/11/2021</th>
        <th class="center">10/11/2021</th>
        <th class="center">10/11/2021</th>
        <th class="center">10/11/2021</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>202019432</td>
        <td>Ariana Nayeli Villalva Velasquezs</td>
        <td class="center">
          <span>
            <i class="fa-solid fa-check "></i>
          </span>
        </td>
        <td class="center">
          <span>
            <i class="fa-solid fa-circle-minus"></i>
          </span>
        </td>
        <td class="center">
          <span>
            <i class="fa-solid fa-circle-minus"></i>
          </span>
        </td>
        <td class="center">
          <span>
            <i class="fa-solid fa-xmark"></i>
          </span>
        </td>
        <td class="center">
          <span>
            <i class="fa-solid fa-xmark"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
