
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir un nuevo psicólogo</h1>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="name" class="col-form-label">Nombres:</label>
              <input type="text" class="form-control" id="name" placeholder="Ingrese los nombres del psicológico">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="apepat" class="col-form-label">Apellidos Paterno:</label>
                        <input type="text" class="form-control" id="apepat" placeholder="Ingrese el apellido paterno">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="apemat" class="col-form-label">Apellidos Materno:</label>
                        <input type="text" class="form-control" id="apemat" placeholder="Ingrese el apellido materno">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="cargo" class="col-form-label">Cargo que desempeña:</label>
                <input type="text" class="form-control" id="cargo" placeholder="Ejem: Psicólogo de la E.P. de Ingeniería de sistemas">
            </div>
            <div class="mb-3">
                <label for="correo" class="col-form-label">Correo electrónico:</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingrese el correo electrónico">
            </div>
            <div class="mb-3">
                <label for="nro-whatsapp" class="col-form-label">Nro de Whatsapp:</label>
                <input type="number" class="form-control" id="nro-whatsapp" placeholder="Ingrese el número de WhatsApp">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-registrar">Registrar</button>
        </div>
      </div>
    </div>
  </div>