<div class="d-flex justify-content-center align-items-center img" style="background-image: url('/assets/fondo-vinculacion.png');">
    <p class="title-image">Modulo de Tutoria</p>
</div>
<div class="row p-5">
    <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 286px; max-height: 248px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                <button class="btn" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"></button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 286px; max-height: 248px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                <button class="btn" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"></button>
            </div>
        </div>
    </div>
        <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 286px; max-height: 248px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                <button class="btn btn-icon" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"><i class="fa-solid fa-gear"></i></button>
            </div>
        </div>
    </div>
</div>