<div class="d-flex justify-content-center align-items-center img" style="background-image: url('/assets/fondo-vinculacion.png');">
    <p class="title-image">Modulo de Tutoria</p>
</div>
<div class="row" style="padding: 10rem;">
    <div class="col-12">
        <h1>Asistencias</h1>
        <button class="btn btn-float">
Añadr Evento
        </button>
    </div>
    <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                
                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                  </ul>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                
                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                  </ul>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="border: none;">
            <div class="card-body" style="background-color: rgba(0, 51, 102, 1); border-radius: 20px; color: white; position: relative; width: 296px; max-height: 258px;">
                <p class="card-text">Evento</p>
                <h5 class="card-title">Activate Sistema</h5>
                <p class="card-text">E.P</p>
                <h5 class="card-title">Ing. de Sistemas</h5>
                
                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute;top: 0px; right: 0px; height: 62px; width: 62px; border-radius: 0px 20px 0px 20px; background-color: #F8A900;"> <i class="fa-solid fa-gear"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Editar</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Eliminar</a></li>
                  </ul>
            </div>
        </div>
    </div>


        
</div>