.title-image{
    color: white;
    font-weight: 800;
    font-family: 'Roboto';
    font-size: 48px;
}
.img{
    background-size: cover;
    margin: 0 auto;
    min-height: 130px;
    border-radius: 10px;
}

button{
    height: 50px;
    width: 100%;
}
button{
    color: #6B788E !important;
}
button.active{
    background-color: #063D58 !important;
    color: white !important;
}

  .panel__info{
    padding-left: 4%;
    padding-right: 4%;
  }
  .panel{
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    box-shadow:  20px 20px 23px #d5d5d5,
    -20px -20px 23px #ebebeb;
    height: 75vh;
  }
  .panel-light{
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    box-shadow:  20px 20px 23px #d5d5d5,
    -20px -20px 23px #ebebeb;
    min-height: 45vh;
    max-height: 55vh;
  }
  .panel-extra{
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    box-shadow:  20px 20px 23px #d5d5d5,
    -20px -20px 23px #ebebeb;
    height: 26vh;
  }
  .title-card{
    position: absolute; background-color: #3E98B6; height: 50px;
                  ; top: -25px; left: 15px; border-radius: 5px; color:white; width: 254px; text-align: center; font-weight: bold;
                  z-index: 100;
  }
  .title-card-special{
    position: absolute; background-color: #3E98B6; height: 50px;
                  ; top: -16px; left: -13px; border-radius: 5px; color:white; width: 254px; text-align: center; font-weight: bold;
                  z-index: 100;
  }
  .principal{
    height: 60vh;
  }


  .buttons{
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    color: white;
  }

.buttons> button{
  width: 100px;
  color: red !important;
  border: 1px solid red;
}

.btn-actualizar{
  background-color: #063D58 !important;
  top: -90px;
  color: #ffff !important;
}


.btn--delete{
  color: red !important;
  width: 100px;
  border: 1px solid red;
}

.btn--edit{
  color: #063D58 !important;
  width: 100px;
  border: 1px solid #063D58;
}

.modal-header {
    background: rgba(6, 61, 88, 0.84);
    padding: 25px;
    color: white;
}

.modal-body {
    padding-left: 35px;
    padding-right: 35px;
}

.col-form-label {
    font-weight: bold;
}

.btn-registrar {
    border-radius: 10px;
    background: rgba(6, 61, 88, 0.84);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-cancelar {
    border-radius: 10px;
    border-color: transparent;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}


.btn-registrar{
  color: #ebebeb !important;
}
