<div class="container-fluid w-100 main">
    <div class="row content">
        <div class="d-flex justify-content-center align-items-center img" style="background-image: url('/assets/tutoria.png');">
            <p class="title-image">Tutoría</p>
        </div>
        <div class="container-fluid principal w-100 pt-5">
            <div class="row h-100">
                <div class="col-lg-2 col-sm-12  col-12">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-solid fa-person-running" ></i> Activate</button>
                        <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-solid fa-user" ></i> Tutoria Psicologica</button>
                        <button class="nav-link text-start" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa-solid fa-person-praying" ></i> Tutoria Espiritual</button>
                        <button class="nav-link text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-classmate" type="button" role="tab" aria-controls="v-pills-classmate" aria-selected="false"><i class="fa-solid fa-user-group" ></i> Classmate</button>
                        <button class="nav-link text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa-solid fa-user-tie" ></i> Lisa de Tutores</button>
                      </div>
    
                </div>
                <div class="col-lg-10 col-sm-12  col-12 main" data-bs-spy="scroll"  data-bs-offset="0" tabindex="0">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                           <div class="row ">
                             <div class="col-lg-6 col-sm-12  col-12 mb-4 pt-4 h-100 d-flex  justify-content-start header">
                                <div class="panel">
                                    Próxima Activate
                                </div>
                                <div class="target2">
                                    <div class="img2 d-flex justify-content-center">
                                        <img src="assets/Activate.jpeg" alt="" width="55%" height="100%">
                                    </div>
                                    <div class="info">
                                        <div class="row p-4">
                                            <div class="col-lg-6 col-12 mt-2">
                                                <strong><i class="fa-solid fa-calendar-days me-1"></i>Fecha:</strong>  {{fecha | date: 'dd/MM/yyyy'}}
                                            </div>
                                            <div class="col-lg-6 col-12 mt-2">
                                                <strong><i class="fa-regular fa-clock me-1"></i>Hora:</strong> {{fecha | date: 'hh:mm a'}}
                                            </div>
                                            <div class="col-12 mt-2">
                                                <strong><i class="fa-solid fa-clipboard me-1"></i>Nombre:</strong> {{name}}
                                            </div>
                                            <div class="col-12 mt-2">
                                                <strong><i class="fa-solid fa-location-dot me-1"></i>Lugar:</strong> {{lugar}}
                                            </div>
                                        </div>
                               
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-6  col-sm-12  col-12  h-100">
                                <div class="row">
                                    <div class="col-12 pt-4 h-100 d-flex  justify-content-start header">
                                        <div class="panel">
                                            Reporte de asistencias
                                        </div>
                                        <div class="target3">
                                            <div class="row">
                                                <div class="col-6 pt-3 d-flex flex-column justify-content-center align-items-center">
                                                    <p style=" font-weight: bold; color: rgba(0, 51, 102, 1); margin: 0;" class="text-4">Total de Actividades</p>
                                                    <p style=" color: #3E98B6; font-weight: bold;">{{allActivities}}</p>
                                                    <p style=" font-weight: bold; color: rgba(0, 51, 102, 1); margin: 0;" class="text-4">Act. Asistidas</p>
                                                    <p style="color: #3E98B6; font-weight: bold;">{{particpatedActivities}}</p>
                                                </div>
                                                <div class="col-6 pt-3 d-flex justify-content-center align-items-center">
                                                    <circle-progress [percent]="percent" [radius]="50" [space]="-16" [outerStrokeWidth]="17"
                                                    [outerStrokeColor]="'#EDA619'" [innerStrokeWidth]="17" [innerStrokeColor]="'#AFAFAF'"
                                                    [title]="percent+'%'" [titleFontSize]="'20'" [titleFontWeight]="'700'"
                                                    [titleColor]="'#1B447D'" [showUnits]="false" [showSubtitle]="false" [showUnits]="false"
                                                    [clockwise]="true" [startFromZero]="false"></circle-progress>
                                                </div>
                                                <div class="row d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Justificar Faltas</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pt-4 h-100 d-flex  justify-content-start">
                                        <div class="target3_1">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Mag. Fernando Asín Gomez</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Responsable</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-4 card-information" *ngFor="let psicology of psicologies">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            Psicólogo Disponible
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end" >
                                                        <img src="assets/elip.svg" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">{{psicology.name}}</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Psicólogo E.P. Sistemas</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> {{psicology.phone}}</p>
                                                <p style="color: black;"><strong>Correo:</strong> {{psicology.email}}</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp(psicology.phone)" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            
                             
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-4 card-information" *ngFor="let pastor of spritual">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            Asesor Disponible
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/elip.svg" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">{{pastor.name}}</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">{{pastor.type_person}}</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> {{pastor.phone}}</p>
                                                <p style="color: black;"><strong>Correo:</strong> {{pastor.email}}</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp(pastor.phone)" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                           
                               
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-classmate" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                            <div class="row h-100">
                                <div class="col-lg-6 h-100 col-12 card-information scrollable-div">
                                    <div  class="pt-4 header pointer"   (click)="generateWeeklyEvents()">
                                        <div class="panel">
                                            Classmate Disponible
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Josué Dominguez Huamaní</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">VII Ciclo Sistemas</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                    <div  class="pt-4 header pointer" (click)="generateWeeklyEventschange()" >
                                        <div class="panel">
                                            Classmate Disponible
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Paulo Huamán Calderón</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">VII Ciclo Sistemas</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="col-lg-6 col-12">
                                    <p class="fw-bold">Horario de ClassMate</p>
                                    <mwl-calendar-week-view
                                    [viewDate]="viewDate"
                                    [events]="events"
                                    [dayStartHour]="startHour"
                                    [dayEndHour]="endHour"
                                  >
                                  </mwl-calendar-week-view>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills--tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            II ciclo - G1
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Maria Antonieta Vidalon Aliaga</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio 5</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            II ciclo - G2
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Villegas Cervera Alex Robert</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio 6</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            IV ciclo - G1
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Immer Elias Cuellar Rodriguez</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio L2B</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            IV ciclo - G2
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Sanchez Torpoco Diana Lidia</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio 7</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            VI ciclo
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Reyna Barreto Benjamin David</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio Software</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            VIII ciclo
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Fernando Manuel Asin Gomez</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio CISCO</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-4 card-information">
                                    <div  class="pt-4 header" >
                                        <div class="panel">
                                            X ciclo
                                        </div>
                                        <div class="target4">
                                            <div class="row pt-4">
                                                <div class="col-3 d-flex justify-content-end">
                                                    <img src="assets/perfil.png" alt="" width="55%">
                                                </div>
                                                <div class="col-9 d-flex justify-content-center flex-column">
                                                    <p style="font-weight: bold; color: black;">Geraldine Alvizuri Llerena</p>
                                                    <p style="font-weight: bold; color: darkseagreen;">Aula: Laboratorio L2A</p>
                                                </div>
                                            </div>                            
                                            <div class="d-flex align-items-start flex-column pt-4 ps-5">
                                                <p  style="color: black;"><strong>Celular:</strong> 987654321</p>
                                                <p style="color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                            </div>
                                               <div class="row pt-3 d-flex align-items-center justify-content-center">
                                                     <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 250px;" (click)="abrirWhatsApp()" ><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por WhatsApp</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                           
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>