
    <article class="panel__info">
        <div class="d-flex justify-content-center align-items-center img" style="background-image: url('/assets/fondo-vinculacion.png');">
            <p class="title-image">Tutoria</p>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-solid fa-person-running" ></i> Activate</button>
                    <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-solid fa-user" ></i> Tutoria Psicologica</button>
                    <button class="nav-link text-start" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa-solid fa-person-praying" ></i> Tutoria Espiritual</button>
                    <button class="nav-link text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa-solid fa-user-group" ></i> Classmate</button>
                    <button class="nav-link text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa-solid fa-user-tie" ></i> Lisa de Tutores</button>
                  </div>

            </div>
            <div class="col-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                        <div class="row d-flex justify-content-center align-items-center pt-5" >
                            <div class="col-lg-5 col-md-12 ps-4 principal" style="position: relative;">
                                <div class="title-card d-flex justify-content-center align-items-center">Proxima Poryeccion Social</div>
                                <div class="panel">
                                    <div class=" d-flex justify-content-center w-100 pt-4" style="height: 70%;">
                                        <img src="assets/campaña.jpg" alt="" width="60%" >
                                    </div>
                                    <div class="p-3" style="height: 30%; background-color: #F9F7FE ;">
                                        <div class="row p-2">
                                            <div class="col-lg-6 col-12 mt-2">
                                                <strong><i class="fa-solid fa-calendar-days me-1"></i>Fecha:</strong> 20/10/2021
                                            </div>
                                            <div class="col-lg-6 col-12 mt-2">
                                                <strong><i class="fa-regular fa-clock me-1"></i>Hora:</strong> 10:00 A.M
                                            </div>
                                            <div class="col-12 mt-2">
                                                <strong><i class="fa-solid fa-location-dot me-1"></i>Lugar:</strong> Mansión de la UpeU
                                            </div>
                                        </div>
                                </div>
                                </div>
                            </div>
                       <div class="col-lg-7 col-md-12 principal" >
                          <div class="row justify-content-end pe-3" style="height: 55vh;">
                            <div class="col-lg-8 col-md-12 panel-extra ps-4" style="position: relative;">
                                <div class="title-card-special d-flex justify-content-center align-items-center">Reporte de Asistencia</div>
                                <div class="row pt-2">
                                    <div class="col-6 pt-5 d-flex flex-column justify-content-center align-items-center">
                                        <p style=" font-weight: bold; color: rgba(0, 51, 102, 1); margin: 0;" class="text-4">Total de Actividades</p>
                                        <p style=" color: #3E98B6; font-weight: bold;">10</p>
                                        <p style=" font-weight: bold; color: rgba(0, 51, 102, 1); margin: 0;" class="text-4">Act. Asistidas</p>
                                        <p style="color: #3E98B6; font-weight: bold;">5</p>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <circle-progress [percent]="50" [radius]="60" [space]="-16" [outerStrokeWidth]="17"
                                        [outerStrokeColor]="'#EDA619'" [innerStrokeWidth]="17" [innerStrokeColor]="'#AFAFAF'"
                                        [title]="50+'%'" [titleFontSize]="'20'" [titleFontWeight]="'700'"
                                        [titleColor]="'#1B447D'" [showUnits]="false" [showSubtitle]="false" [showUnits]="false"
                                        [clockwise]="true" [startFromZero]="false"></circle-progress>
                                    </div>
                                </div>
                                <div class="row justify-content-center  w-100">
                                    <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6; width: 300px;"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-12 mt-4 panel-extra p-4">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="assets/perfil.png" alt="" width="100%">
                                    </div>
                                    <div class="col-10 pt-2">
                                        <p style="font-weight: bold; color: black; margin-bottom: 5px;">Mg. Diana Lidia Sanchez Torpoco</p>
                                        <p style="font-weight: bold;padding: 0; color: darkseagreen;">Responsable</p>
                                    </div>
                                </div>                            
                                <p  style="margin-bottom: 3px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                <p style="margin-bottom: 3px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>

                            </div>
                        </div>
                        
                       </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <div class="row d-flex justify-content-center align-items-center pt-5" >
                            <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-2"  >
                                <div class="panel-light p-4">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/perfil.png" alt="" width="100%">
                                        </div>
                                        <div class="col-9 pt-2">
                                            <p style="font-weight: bold; color: black; margin-bottom: 5px;">Mg. Diana Lidia Sanchez Torpoco</p>
                                            <p style="font-weight: bold;padding: 0; color: darkseagreen;">Responsable</p>
                                        </div>
                                    </div>                            
                                    <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                    <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                    <div class="row justify-content-center mt-4">
                                        <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6;"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-2"  >
                                <div class="panel-light p-4">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/perfil.png" alt="" width="100%">
                                        </div>
                                        <div class="col-9 pt-2">
                                            <p style="font-weight: bold; color: black; margin-bottom: 5px;">Mg. Diana Lidia Sanchez Torpoco</p>
                                            <p style="font-weight: bold;padding: 0; color: darkseagreen;">Responsable</p>
                                        </div>
                                    </div>                            
                                    <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                    <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                    <div class="row justify-content-center mt-4">
                                        <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6;"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-2"  >
                                <div class="panel-light p-4">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/perfil.png" alt="" width="100%">
                                        </div>
                                        <div class="col-9 pt-2">
                                            <p style="font-weight: bold; color: black; margin-bottom: 5px;">Mg. Diana Lidia Sanchez Torpoco</p>
                                            <p style="font-weight: bold;padding: 0; color: darkseagreen;">Responsable</p>
                                        </div>
                                    </div>                            
                                    <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                    <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                    <div class="row justify-content-center mt-4">
                                        <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6;"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pe-5 ps-4 mt-4"  >
                                <div class="panel-light p-4">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/perfil.png" alt="" width="100%">
                                        </div>
                                        <div class="col-9 pt-2">
                                            <p style="font-weight: bold; color: black; margin-bottom: 5px;">Mg. Diana Lidia Sanchez Torpoco</p>
                                            <p style="font-weight: bold;padding: 0; color: darkseagreen;">Responsable</p>
                                        </div>
                                    </div>                            
                                    <p  style="margin-bottom: 4px;margin-top: 10px; margin-left: 45px; color: black;"><strong>Celular:</strong> 987654321</p>
                                    <p style="margin-bottom: 4px;margin-left: 45px; color: black;"><strong>Correo:</strong> Correo@upeu.edu.pe</p>
                                    <div class="row justify-content-center mt-4">
                                        <button class="btn" style="border: 1px solid #3E98B6; color: #3E98B6;"><i style="font-size: 20px; margin-right: 7px;" class="fa-brands fa-whatsapp"></i>Contactar por Whatsaap</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
                  </div>
            </div>
        </div>
       
    </article>
